/* styles/3-style.css */

/* Body foreground color */
body {
  color: #161616;
}

/* Anchor elements foreground color */
a {
  color: #161616;
}

/* Visually hidden elements */
.visually-hidden {
  display: none;
}

/* Card category elements */
.card-category {
  color: #D73953;
}

/* Section tagline elements */
.section-tagline {
  color: #D73953;
}
