/* styles/8-style.css */

/* Root custom properties */
:root {
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
}

/* Body foreground color and base font */
body {
  color: #161616;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: var(--line-height-base); /* minimum height of line boxes */
}

/* Anchor elements foreground color and no decoration */
a {
  color: #161616;
  text-decoration: none;
}

/* Visually hidden elements */
.visually-hidden {
  display: none;
}

/* Card category elements */
.card-category {
  color: #D73953;
}

/* Section tagline elements */
.section-tagline {
  color: #D73953;
}

/* Title font stack */
.font-family-title {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
